.body {
    font-family: 'Josefin Sans', sans-serif;
}

#top {
    position: absolute;
    width: 50%;
    height: 5%;
    left: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 3.5em;

}

.banner {
    background: #455A64;
    opacity: 0.43;
    width: 100%;
    height: 191px;
    left: 0%;
    top: auto;
}

.container {
    margin: auto;
    margin-top: 5%;
    width: 85%;
}

.text {
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
    padding: 1%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #161850;
}

.img-fluid {
    width: 122px;
    height: 122px;
    left: 484px;
    top: 569px;
}

.product {
    text-align: center;
    padding: 12%;
}

.subtotal{
    border-radius: 30px 30px 0px 0px;
}

.id {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;

    color: rgba(22, 24, 80, 0.6);
}

form {
    width: 300px;
}

.value-button {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 5px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    border-right: 0px;
    margin-right: -4px;
    margin-top: -2px;
}

form #increase {
    border-left: 0px;
    margin-left: -4px;
    margin-top: -2px;
}

input#number {
    text-align: center;
    margin: 0px;
    width: 32px;
    height: 40px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #161850;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}