@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.body {
    display: flex;
    /*align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;*/
}

.wrapper {
    display: flex;
    align-items: center;
    width: 1512px;
    height: 982px;
}

/* illustration-side */
.illustration-side {
    /*display: flex;*/
    width: 756px;
    height: 846px;
    left: 0px;
    top: 136px;
    background: #FFFFFF;
}

.welcome-rectangle {
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    width: 482.31px;
    height: 496px;
    background: url(Images/Welcome-cuate.svg) no-repeat;
    flex-direction: column;
}

/* sign-up-side */
.sign-up-side {
    width: 756px;
    height: 846px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-up-side h2 {
    color: #161850;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    line-height: 24px;
    margin-top: 133px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
    margin: 0 20px 43px 10px;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 2px solid #1C9328;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 12px 0;
    margin-bottom: 25px;
    font-family: 'Josefin Sans', sans-serif;
    width: 250px;
}

.register {
    width: 140px;
    height: 33px;
    border: 1px solid #161850;
    border-radius: 20px;
    margin-top: 47px;
}