#menu-row {
    margin: 9% 4% 7% 4%;
}

.container-fluid {
    font-family: 'Josefin Sans', sans-serif;
}

.text{
    color: #161850;
}

.button {
    background: #68B566;
    border-radius: 0%;
    width: 212px;
    height: 35px;
}

#topButtons {
    text-align: center;
}

#titles {
    color: #161850;
    margin: 2%;
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 25%);
}

#product-details {
    display: flex;
    color: #161850;
    margin: 2%;
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

#menu {
    box-shadow: 0.5px 0px 0px rgb(0 0 0 / 25%);
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

#selected-text {
    color: #68B566;
}

.img-responsive {
    width: 80px;
    height: 100px;
}

.product {
    vertical-align: middle;
}

#bottom-box-details {
    font-size: 10px;
}

.value-button {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 5px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    border-right: 0px;
    margin-right: -4px;
    margin-top: -2px;
}

form #increase {
    border-left: 0px;
    margin-left: -4px;
    margin-top: -2px;
}

input#number {
    text-align: center;
    margin: 0px;
    width: 32px;
    height: 40px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #161850;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}