#menu-row {
    margin: 9% 4% 7% 4%;
}

.container-fluid {
    font-family: 'Josefin Sans', sans-serif;
}

.text{
    color: #161850;
}

#menu {
    box-shadow: 0.5px 0px 0px rgb(0 0 0 / 25%);
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

#selected-text {
    color: #68B566;
}
.blueButtons {
    border-radius: 10rem;
    border: 3px solid #688691;
    color: #688691;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 2vh;
    text-align: center;
    box-sizing: unset;
    min-width: 30px;
    max-width: 60%;
  }

.button {
    background: #68B566;
    border-radius: 0%;
    width: 212px;
    height: 44px;
  }